@page "/dashboard"
@attribute [Authorize]
@inject IAuthenticationService AuthenticationService
@inject IDataService<DashboardViewModel> _dashboardService
<h3>Dashboard</h3>

<h3>Hi @AuthenticationService.User.Name</h3>

<p>
    <NavLink class="btn btn-primary" href="/recipients/index">Recipients Total Recipients: @viewModel.RecipientCount</NavLink>
    <NavLink class="btn btn-primary"  href="/lists/index">Lists Total Lists: @viewModel.ListCount</NavLink>
    <NavLink class="btn btn-primary"  href="/campaigns/index">Campaigns Total Campaigns: @viewModel.TotalCampaigns Active Campaigns: @viewModel.ActiveCampaigns</NavLink>
    <NavLink class="btn btn-primary"  href="/templates/index">Templates Total Templates: @viewModel.TotalTemplates</NavLink>
    <NavLink class="btn btn-primary">Analytics</NavLink>
    <NavLink class="btn btn-primary">Administration </NavLink>
</p>

@code {

    private string Error { get; set; }

    DashboardViewModel viewModel = new DashboardViewModel();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            viewModel = await _dashboardService.Get();
        }
        catch (Exception ex)
        {
            Error = ex.Message;
        }

    }
}
